upstream client {
  server $HEROKU_APP_1_DOMAIN_NAME;
}

upstream backend {
  server $HEROKU_APP_2_DOMAIN_NAME;
}

server {
  listen $PORT;

  location / {
    proxy_pass http://client;
    proxy_set_header Host $HEROKU_APP_1_DOMAIN_NAME;
  }

  location /api {
    proxy_pass http://backend;
    proxy_set_header Host $HEROKU_APP_2_DOMAIN_NAME;
  }
}